#title_div {
    display: inline-flex;
    align-items: center;
    height: 25px;
    background:#fbfbfb;
    width:100%;
    color: #548cb4;
  }
  
  .title_bar {
    padding: 5px;
  }
  
  body {
    background-color: #ffffff;
    /* margin-left: -2px; */
    /* margin-right: -2px; */
    width: 100%;
    height: 100%;
    display: contents;
  }
  
  #status_div {
    height: 415px;
    overflow-y: scroll;
    display: block;
    width: 100%;
  }
  #log_div {
    height: 415px;
    overflow-y: scroll;
    display: block;
    width: 100%;
  }
  
  table {
    text-align: left;
    background: #fbfbfb;
    display: table;
    width: 100%;
    height: 100%;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  th {
    border-bottom: 1px solid black;
    background: #555;
    color: whitesmoke;
  }
  
  td {
    max-width: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  
  #run_div {
    padding-top: 2%;
    padding-bottom: 4%;
    padding-left: 4%;
    padding-right: 4%;
  }
  
  #clear_all {
    display: inline-block;
    float: right;
    margin: 0 auto;
    padding-right: 10px;
  }
  
  /* Drop down menu*/
  
  /* Navbar container */
  
  .navbar {
    overflow: hidden;
    background-color: #555;
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  
  .dropdown a {
    float: left;
    overflow: hidden;
  }
  
  .dropbtn a {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    /* Important for vertical align on mobile phones */
    margin: 0;
    /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(92, 163, 201);
  }
  
  .activeclass {
    background-color: #99cbed;
  }
  
  /* Dropdown content (hidden by default) */
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown a:active {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


  /*Drop arrow*/
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  .textDrop { 
      width: 100%;
      background-color: white;
      position: fixed;
  }
  #log_el_div{
      display: table;
      width: 100%;
      overflow-y: wrap;
  }
  .log_textArea{
    width: 100%;
    position: inherit;
    display: block;
    max-width: 400px;
    color: blue;
    overflow: visible;
  }
  .div_menu{
    display: flow-root;
    position: absolute;
  }
 
  #clear_div{
    right:2%;
    text-align: center;
  }  
  #regression_div{
    left:40%;
    text-align: center;
  }  
  #hotfix_div{
    left:2%;
    text-align: center;
  }
  .run_div_align{
    margin: 0 auto;
    padding-left: 5%;
    float: left;
  }
  thead{
 
    display: table-header-group;
  }
  tbody {
  
    display: table-row-group;
  }
  .table_div{
    display: block;
    overflow-y: scroll;
    height: 25em;
    width: 43em;
  }